<nav class="row navbar navbar-expand-md">
    <ul class="col navbar-nav justify-content-end">
        <li class="nav-item px-2 mr-auto"><a class="nav-link text-white navbar-brand" href="#"[routerLink]="['main']">{{Title}}</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#"[routerLink]="['newemp']">Add New Employee</a></li>
        <li class="nav-item px-4"><a class="nav-link text-white" href="#"[routerLink]="['empdetails']">Device/Employee Manager</a></li>
    </ul>
</nav>