.modal-content{
    background-color:rgb(91, 155, 155);
}
.card{
    background-color: rgba(91, 155, 155, 0.301);
}
.card-header,.card-footer,.card-header h4{
    color: seashell;
    background-color:rgb(91, 155, 155);
    font-weight: bold;
    text-align: center;
    transition: 0.2s;

}
.card-body li{
    background-color: rgb(171, 214, 214);
}
header{
    color: seashell;
    font-weight: bold;
    text-align: center
}
.card-header h4:hover{
    cursor: pointer;
    text-shadow: 1px 2px 2px rgb(38, 65, 65);
}
#devdisplay{
    overflow-y: scroll;
    height: 375px;
}