<header class="">
    <h1>Fleet Management</h1>
</header>
<div class="modal" id="deventry">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-deventryform #deventry [emp]="myemployees"></app-deventryform>
        </div>
    </div>
</div>
<div class="modal" id="devupdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-devupdateform #devupdate></app-devupdateform>
        </div>
    </div>
</div>
<div class="modal" id="empupdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-empupdateform #empupdate></app-empupdateform>
        </div>
    </div>
</div>
<div class="card m-2">
    <div class="card-header">
        <h4 data-toggle="collapse" data-target="#demo">{{myemployees.name}}</h4>
        <div class="collapse" id="demo">
            email: {{myemployees.email}}<br>id: {{myemployees.emp_id}}
            <div class="card-footer">
                <button class="btn btn-primary btn-sm"data-toggle="modal" data-target="#empupdate">Update</button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#empdelconf">Delete</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group" id="devdisplay">
            <li *ngFor="let b of back" class="list-group-item text-center">
                {{mydevices[b].description}}--{{mydevices[b].type}} <br>
                <div class="btn-group">
                    <button (click)="sendDevice(mydevices[b])" data-toggle="modal" data-target="#devupdate" class="btn btn-primary btn-sm">Update</button>
                    <button (click)="sendDevice(mydevices[b])" data-toggle="modal" data-target="#delconf"class="btn btn-danger btn-sm">Delete</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deventry">
            Add New Device
        </button>
    </div>
</div>
<div class="modal" id="delconf">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-delete-confirmation [deldev]="devupdate.mydev.id"></app-delete-confirmation>
        </div>
    </div>
</div>
<div class="modal" id="empdelconf">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-emp-delete-confirmation></app-emp-delete-confirmation>
        </div>
    </div>
</div>