<div>
    <h1>Fleet Management</h1>
</div>
<div class="modal" id="deventry">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-deventryform #deventry [emp]="myemployees"></app-deventryform>
        </div>
    </div>
</div>
<div class="modal" id="devupdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-devupdateform></app-devupdateform>
        </div>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let b of back" class="list-group-item text-center">
        {{deventry.mydevices[b].description}}--{{deventry.mydevices[b].type}} <br>
        <div class="btn-group">
            <button (click)="sendDevice(deventry.mydevices[b])" data-toggle="modal" data-target="#devupdate" class="btn btn-primary btn-sm">Update</button>
            <button (click)="sendDevice(deventry.mydevices[b])" class="btn btn-danger btn-sm">Delete</button>
        </div>
    </li>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deventry">
    Add New Device
</button>
</ul>