<div class="row justify-content-center empentry-instructions mt-3">
    <div class="col-3">
        <p class="display-3">01</p>
    </div>
    <div class="col-8 text-justify mt-1">
        <p>Instert employee's identification number into the first field. This is a unique element for any employee
            so an error messagge will be displayed when your input already exists.</p>
    </div>
</div>
<div class="row justify-content-center empentry-instructions">
    <div class="col-3">
        <p class="display-3">02</p>
    </div>
    <div class="col-8 text-justify">
        <p>Instert employee's identification number into the first field. This is a unique element for any employee
            so an error messagge will be displayed when your input already exists.</p>
    </div>
</div>
<div class="row justify-content-center empentry-instructions">
    <div class="col-3">
        <p class="display-3">03</p>
    </div>
    <div class="col-8 text-justify">
        <p>Instert employee's identification number into the first field. This is a unique element for any employee
            so an error messagge will be displayed when your input already exists.</p>
    </div>
</div>